@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1f2122;
  font-size: 16px;
  color: #fff;
}

img {
  width: 100%;
  border-radius: 23px;
  max-height: 250px;
}

a {
  color: #CCC;
  text-decoration: none;
}

a:hover {
  color: #F99;
}

h4 {
  color: #ec6090;
  font-size: 34px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

ul {
  list-style: none;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
}

/* Preloader */
.js-preloader {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.99);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #e75e8d;
  border-radius: 50%;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  width: 16px;
  height: 16px;
  background: #e75e8d;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

/* Games Section */
.most-popular {
  margin-top: 30px;
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.most-popular .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.game-name {
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.platforms {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.item ul {
  float: right;
  margin-top: 20px;
}

.item ul li {
  color: #fff;
  font-size: 14px;
  text-align: right;
}

.item ul li span {
  padding-left: 5px;
  color: #bbb;
}

.item ul li:first-child i {
  color: yellow;
}

.item ul li:last-child i {
  color: #ec6090;
}

.main-button {
  text-align: center;
  margin-bottom: -53px;
}

.main-button button {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.main-button button:hover {
  background-color: #fff;
  color: #e75e8d;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}
